.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.list {
  width: 200px;
  overflow: auto;
  flex-shrink: 0;
}

.list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listIcon {
  font-size: 1.2em;
  margin-right: 20px;
}

.content {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-width: 0 0 0 2px;
  border-style: solid;
}

.links {
  list-style-type: none;
  padding: 0;
  font-size: 1.5em;
}

.links li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.linkIcon {
  font-size: 2em;
  padding-right: 20px;
}

.form {
  width: 400px;
  margin: 0 auto;
}

.email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.message {
  margin: 10px 0;
  text-align: left;
}

.message textarea {
  width: calc(100% - 6px);
  height: 100px;
}

.email input {
  width: 300px;
}

.submit {
  flex-grow: 0;
}

.topBar {
  width: 100%;
  height: 50px;
  border-width: 0 0 2px 0;
  border-style: solid;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  flex-shrink: 0;
}

.topBar > * {
  margin: 0 10px;
}

.contentBottom {
  overflow: auto;
}

.greyedOut {
  opacity: 0.5;
}

.spinner {
  font-size: 3em;
  padding: 20px;
}