.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.bottomContainer {
  display: flex;
  height: calc(100% - 52px);
}

.list {
  width: 200px;
  overflow: auto;
  border-width: 0 2px 0 0;
  border-style: solid;
  flex-shrink: 0;
}

.list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.list li:hover {
  background: #eeeeee;
  cursor: pointer;
}

.listIcon {
  font-size: 1.2em;
  margin-right: 20px;
}

.content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.topBar {
  width: 100%;
  height: 50px;
  border-width: 0 0 2px 0;
  border-style: solid;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  flex-shrink: 0;
}

.topBar > * {
  margin: 0 10px;
}

.greyedOut {
  opacity: 0.5;
}