.monitor {
  padding: 40px 30px 0 30px;
  background: gray;
  border-radius: 20px;
}

.screenContainer {
  background: black;
  --width: 10;
  --height: 6;
  --unit: calc(100vh / (var(--height) + 2));
  --taskbar-height: 30px;
  width: calc(var(--width) * var(--unit));
  height: calc(var(--height) * var(--unit) + var(--taskbar-height));
}

.monitorBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.engraving {
  font-size: 3em;
  font-family: 'Pacifico', cursive;
  opacity: 0.5;
}

.powerButton {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .screenContainer {
    --unit: 80px;
  }
}

@media only screen and (max-width: 800px) {
  .screenContainer {
    --unit: 100px;
    --width: 6;
    --height: 8;
  }
}

@media only screen and (max-width: 500px) {
  .screenContainer {
    --width: 5;
    width: 100vw;
    height: 100vh;
    --unit: calc(100vw / var(--width));
    position: absolute;
    top: 0;
    left: 0;
  }

  .engraving, .powerButton {
    display: none;
  }
}