.captionedImage {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.fullsizeImageContainer {
  position: relative;
  width: 90%;
}

.fullsizeImageContainer:hover {
  cursor: pointer;
}

.fullsizeImageContainer:hover .fullsizeImage {
  opacity: 0.8;
}

.fullsizeImageContainer:hover .icon {
  transform: scale(1.1);
}

.fullsizeImage {
  width: 100%;
}

.icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 2em;
}