.desktop {
  background: white;
  height: 100%;
}

.desktopInner {
  display: grid;
  grid-template-columns: repeat(var(--width), 1fr);
  grid-template-rows: repeat(var(--height), 1fr) var(--taskbar-height);
  grid-auto-flow: column;
  height: 100%;
  backdrop-filter: saturate(0.8);
}

.windowContainer {
  grid-row: 1 / calc(var(--height) + 1);
  grid-column: 2 / var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.credits {
  grid-row-start: var(--height);
  grid-column-start: var(--width);
}