.windowContainer {
  background: black;
  color: white;
  width: 90%;
  height: 90%;
  padding: 0 3px 3px 3px;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 0 10px;
}

.windowControlIcon {
  margin-left: 10px;
}

.windowControlIcon:hover {
  color: grey;
}

.windowInner {
  background: white;
  color: black;
  flex-grow: 1;
  overflow: auto;
}